@media (max-width: 700px) {
    /*estilos para dispositivos móviles*/
    *{
        body{
            #fotos-inicio{
                
            }
        }
        
        body{
            .aca{
                display: none;
            }
            }
        }

        body{
            .referencia{
                display: none;
            }
        }

        body{
            .desaparecen{
                display: none;
            }
        }

        body{
            .desaparecent{
                display: none;
            }
        }

        body{
            .queda{
                width: 500px;
            }
        }

        body{
            .tambien{
                display: none;
            }
        }

       
    }
  
  
  /* Estilos para tablets (entre 600px y 900px de ancho)*/ 
  @media (min-width: 701px) and (max-width: 1024px) {
    estilos para tablets
    *{
        text-align: center;
    }
    
    .desaparecent{
        display: none;
    }

    
    
}
