// MD de Celular
@media screen and (max-width:700px){
    body{
        .fotos-inicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 40px;
            
            }
        }
   

    body{
        section{
            p{
                text-align: center;
            }
        }
    }

  
    #referencias{
            display: none;
    }

    .desaparecen{
        display: none;
    }
    
    section{
        ul{
            li{
                text-align: center;
            }
        }
    }
    .mapas{
        display: flex;
        flex-direction: column;

    }
    body{
        #contacto{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }
}      