
.formulario{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: end
    }

div{
    h6{
        font-size: 25px;
        padding: 0px;
        margin: 0px;
    }
}

.boton{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}